
<link rel="stylesheet" href="static/assets/css/spacebackground.css">
<link rel="stylesheet" href="static/assets/css/game.css">

<img class="bigglobe" src="static/assets/images/bigglobe.png">
<!--<img class="globe" src="static/assets/images/globe.png">-->
    <audio id="bonusword">
        <source src="static/assets/audio/UFOlanding.mp3" type="audio/mpeg">
    </audio>
    <audio id="boom">
        <source src="static/assets/audio/explosion.wav" type="audio/mpeg">
    </audio>
    <audio id="chacha">
        <source src="static/assets/audio/chachacha.wav" type="audio/mpeg">
    </audio>
    <audio id="ching">
        <source src="static/assets/audio/ching.wav" type="audio/mpeg">
    </audio>
    <audio id="appear">
        <source src="static/assets/audio/Appear2.wav" type="audio/mpeg">
    </audio>
    <audio id="boom2">
        <source src="static/assets/audio/explosion.wav" type="audio/mpeg">
    </audio>
    <audio id="boom3">
        <source src="static/assets/audio/explosion.wav" type="audio/mpeg">
    </audio> 
    <audio id="aliens" loop>
        <source src="static/assets/audio/ufo_lowpitch3.wav" type="audio/mpeg">
    </audio>
    <audio id="zap">
        <source src="static/assets/audio/shoot.wav" type="audio/mpeg">
    </audio>
    <audio id="321">
        <source src="static/assets/audio/SoundEffect(11b).wav" type="audio/mpeg">
    </audio>
    <audio id="321go">
        <source src="static/assets/audio/SoundEffect(16).wav" type="audio/mpeg">
    </audio>
    <audio id="loss">
        <source src="static/assets/audio/Galaga-loss.wav" type="audio/mpeg">
    </audio>
    <audio id="win">
        <source src="static/assets/audio/Power-Up.mp3" type="audio/mpeg">
    </audio>    


<div class="container-fluid" id="game_space">
  
	<div id='stars'></div>
  	<div id='stars2'></div>
  	<div id='stars3'></div>

    <div class="row">

        <div clas="col col-sm-4">
            <h4 class="white sboard">Words:</h4>
            <h4 id="words">0</h4>
        </div>

        <div clas="col col-sm-4">
          <h4 class="white sboard">Missed:</h4>
          <h4 id="missed">0</h4>
        </div>

        <div clas="col col-sm-4">
            <h4 class="white sboard">Score:</h4>
            <h4 id="score">0</h4>
        </div>


        <div clas="col col-sm-4">
            <h3 id="waveNum">1</h3>
            <h3 class="white sboard">Wave:</h3>
            <h3 id="waveTime">20</h3>
            <h3 class="white sboard">Time Remaining:</h3>
        </div>

    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row0">

        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row1">

        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row2">

        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row3">

        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row4">

        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row5">

        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row6">
    
        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row7">
    
        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row8">
    
        </div>
    </div>


<!--
        <div class="row bottom">

            <div class="col col-lg-3">
                <div class ="cityImg">
                    <img class="cityIcon" src="static/assets/images/city5.png">
                </div> 
            </div>

            <div class="col col-lg-6">
                <div class="form-group">
                    <label for="query" class="sr-only">Target</label>
                    <input type="text" class="form-control noEnterSubmit" id="query" placeholder="Load Your Word Gun!" autocomplete="off">
                </div>
            </div>

            <div class="col col-lg-3"

                <div class ="button">
                  <a class="btn btn-default" href="/menu" role="button">Go to menu</a>
                </div>  

                <div class="button">
                    <button class="start btn btn-danger middle" style="background-color:red;">I AM READY</button>
                </div>

                <div class="button">
                    <button class="btn btn-default instructions">How to play</button>
                </div>

            </div>

        </div>-->



</div>

<div class="container">
        <div class="row bottom">
            <div class="col col-lg-1">
                    <h3 class="white" id="currentUser"></h3>
            </div>
            <div class="col col-lg-4">
                    <img class="cityIcon" src="static/assets/images/city5.png">
            </div>

            <div class="col col-lg-5">
                <div class="form-group">
                    <label for="query" class="sr-only">Target</label>
                    <input type="text" class="form-control noEnterSubmit" id="query" placeholder="Word Gun!" autocomplete="off">
                </div>
            </div>

            <div class="col col-lg-2">

                <div id="button1">
                    <button class="start btn btn-danger middle button" style="background-color:red;">I AM READY</button>
                </div>

                <div id="button2">
                    <a class="btn btn-default button" href="/menu" role="button">Go to menu</a>
                </div>

                <div id="button3">
                    <button class="btn btn-default instructions button">How to play</button>
                </div>
            </div>

        </div>
</div>

<!--this code is for troubleshooting-->
<!--<div class="container">
    
    <input class="box">
    <button class="btn btn-primary makediv" id="pushMe">Make Div</button>
    <button id="modalButton">Open Modal</button>
</div>-->


<div id="myModal" class="modal">

  <div class="modal-content">

    <div class="modal-header  center">    

        <h1 class="gameWave  center">

            <span class="justWave">
                <h1 id="WWtitle">WORD WARS!</h1>
            </span>\

            <span class="waveNum">
            </span>

            <br>
            
            <span class="completed"></span>

        </h1>   

    </div>

    <div class="modal-body">    

        <div class="messageToPlayer middle center">

        </div>

    </div>

    <div class="modal-footer"></div>

  
  </div>

</div>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCXnQJ0MgyrTy_vE6zwtHK8863bhjDKx6Y",
    authDomain: "wordwars-b7992.firebaseapp.com",
    databaseURL: "https://wordwars-b7992.firebaseio.com",
    storageBucket: "wordwars-b7992.appspot.com",
  };
  firebase.initializeApp(config);

</script>

<script src="static/assets/js/script.js"></script>