
    <audio id="boom">
        <source src="static/assets/audio/explosion.wav" type="audio/mpeg">
    </audio>
    <audio id="aliens" loop>
        <source src="static/assets/audio/ufo_lowpitch3.wav" type="audio/mpeg">
    </audio>
    <audio id="zap">
        <source src="static/assets/audio/shoot.wav" type="audio/mpeg">
    </audio>

<div class="container-fluid" id="game_space">
  <!--  <h1 class="text-center white">Word Wars?</h1>-->
	<div id='stars'></div>
  	<div id='stars2'></div>
  	<div id='stars3'></div>

    <div class="row">
        <div clas="col col-sm-4">
            <h4 class="white sboard">Score:</h4>
            <h4 id="score">0</h4>
        </div>

        <div clas="col col-sm-4">
            <h4 class="white sboard">Words:</h4>
            <h4 id="words">0</h4>
        </div>

        <div clas="col col-sm-4">
          <h4 class="white sboard">Missed:</h4>
          <h4 id="missed">0</h4>
        </div>
    </div>

    <div class="row" >
        <div class="col col-lg-12" id="row0">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row1">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row2">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row3">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row4">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row5">

        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row6">
    
        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row7">
    
        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row8">
    
        </div>
    </div>
        <div class="row" >
        <div class="col col-lg-12" id="row9">
    
        </div>
   <!--  </div>
        <div class="row" >
        <div class="col col-lg-12" id="row10">
    
        </div>
    </div>
        <div class="row" >
        <div class="col col-lg-12" id="row11">
    
        </div>
    </div>
    <div class="row" >
        <div class="col col-lg-12" id="row12">
    
        </div>
    </div> -->
    <!-- todo: add error/success classes when typing! -->

    <div class="form-group">
        <label for="query" class="sr-only">Target</label>
        <input type="text" class="form-control noEnterSubmit" id="query" placeholder="Load Your Word Gun!" autocomplete="off">
    </div>

</div>

<div class="container">
    
    <input class="box">
    <button class="btn btn-primary" id="pushMe">Make Div</button>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<script src="static/assets/js/script.js"></script>