<!-- NavBar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">WordWars</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/scores">High Scores</a></li>
			</ul>
		</div>
	</div>
</nav>
	<div class="container">
		<!-- Header -->
		<div class="page-header">
		  <h1 class="text-center">WordWars</h1>
		</div>
		<!-- Page Content -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">WordWars</h3>
					</div>
					<div class="panel-body">
						<a class="btn btn-default form-control" id="login" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Login</a>
						<a class="btn btn-default form-control" id="register" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span> Register</a>
						<a class="btn btn-default form-control" href="/game">Play Now!</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Register Modal -->
		<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
			<div class="modal-dialog" role="document">
		    <div class="modal-content">
		    	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title text-center" id="registerModalLabel">Register</h4>
		      	</div>
		      	<div class="modal-body">
		      		<h4>Email Address</h4>
					<input type="name" class="form-control" id="regEmail">		
					<h4>Password</h4>
					<input type="password" class="form-control" id="regPassword">
					<h4>Confirm Password</h4>
					<input type="password" class="form-control" id="confirmPassword">
					<div id="errorMessage"></div>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" id="registerUser"><span class="glyphicon glyphicon-pencil"></span> Register</button>
		      	</div>
		    </div>
		  	</div>
		</div>
		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
			<div class="modal-dialog" role="document">
		    <div class="modal-content">
		    	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title text-center" id="loginModalLabel">Login</h4>
		      	</div>
		      	<div class="modal-body">
		      		<h4>Email Address</h4>
					<input type="name" class="form-control" id="logEmail">		
					<h4>Password</h4>
					<input type="password" class="form-control" id="logPassword">
					<div id="loginError"></div>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" id="loginUser"><span class="glyphicon glyphicon-pencil"></span> Login</button>
		      	</div>
		    </div>
		  	</div>
		</div>

	</div>
		<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyCXnQJ0MgyrTy_vE6zwtHK8863bhjDKx6Y",
		    authDomain: "wordwars-b7992.firebaseapp.com",
		    databaseURL: "https://wordwars-b7992.firebaseio.com",
		    storageBucket: "wordwars-b7992.appspot.com",
		  };
		  firebase.initializeApp(config);

		</script>
	<script src="static/assets/js/login.js"></script>
