
			<ul class="nav navbar-nav">
				<li><a href="/scores">High Scores</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/" id="logOut">Log Out</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			  <h1 class="text-center">Welcome to WordWars</h1>
			  <p class="text-center">A head-to-head typing game for 2 players.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Join a Game</h3>
				</div>
				<div class="panel-body" id="currentRooms">
					<div class="well">
						<a class="btn btn-default form-control" id="createOpen" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Create a Room</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4 class="text-center">To play, type words in the missiles approaching your ship before they get there. If you type a word that hasn't been used in the match yet, it launches a missile at your opponent with that word. As time progresses, more difficult words are fired automatically by the game at both players.</h4>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Chat</h3>
				</div>
				<div class="panel-body">
					<div id="chatLog"></div>
				    <div class="input-group">
				      <input type="text" class="form-control" id="message" placeholder="Chat Here...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" id="chatSubmit" type="button">Submit</button>
				      </span>
				    </div><!-- /input-group -->
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
		    <div class="modal-content">
		    	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title text-center" id="myModalLabel">Create a Room</h4>
		      	</div>
		      	<div class="modal-body">
		      		<h4>Room Name</h4>
					<input type="name" class="form-control" id="roomname">		
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" id="createRoom" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Create</button>
		      	</div>
		    </div>
		  	</div>
		</div>
</div>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCXnQJ0MgyrTy_vE6zwtHK8863bhjDKx6Y",
    authDomain: "wordwars-b7992.firebaseapp.com",
    databaseURL: "https://wordwars-b7992.firebaseio.com",
    storageBucket: "wordwars-b7992.appspot.com",
  };
  firebase.initializeApp(config);

</script>
<script src="static/assets/js/menu.js"></script>